<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head></head>
<body class="container">
<h1 th:text="${title}">Add Category</h1>

<form method="post" style="max-width:600px;" th:object="${category}">
    <div class="form-group">
        <label th:for="name">Category</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <hr />
    <input type="submit" value="Add Category" />
</form>

</body>
</html>