<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <a href="/category/add">Add Category</a>
</head>

<body class="container">

<h1 th:text="${title}">Category List</h1>

<ul th:each="category : ${categories}">
    <li th:text="${category.name}"></li>
</ul>



</body>
</html>