<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigationTop">
    <a href="/cheese">Home</a> |
    <a href="/cheese/category">Categories</a> |
    <a href="/cheese/menu">Menu</a> |
</nav>


<nav th:fragment="navigationBottom">
    <a href="/cheese/add">Add Cheese</a> |
    <a href="/cheese/remove">Remove Cheese</a>
</nav>


</body>
</html>